
<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<div class="column">
				<div class="panel panel-default" >
					<div class="panel-heading" style="color: black; font-weight: bold;">{{this.firstName}}</div>
					<div class="panel-body" style="padding-bottom: 0px; text-align: center;">
						<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
							<h1 style="color:#f7b733" class="text-center">Profile Information</h1>
							<div class="row">
								<div class="col-lg-3"></div>
								<div class="col-lg-3 center-block">
									<div style="text-align:left">
										<p><b>Username: </b> {{currentUserInfo.dataValues.userName}}</p>
										<p><b>First Name: </b> {{currentUserInfo.dataValues.firstName}}</p>
										<p><b>Phone: </b> {{currentUserInfo.dataValues.phone}}</p>
										<p><b>City: </b> {{currentUserInfo.dataValues.city}}</p>
										<p><b>Zip Code: </b> {{currentUserInfo.dataValues.zipCode}}</p>
									</div>
								</div>
								<div class="col-lg-3 center-block">
									<div style="text-align:left">
										<p><b>Email: </b> {{currentUserInfo.dataValues.email}}</p>
										<p><b>Address Line 1: </b> {{currentUserInfo.dataValues.address_1}}</p>
										<p><b>Address Line 2: </b> {{currentUserInfo.dataValues.address_2}}</p>
										<p><b>State: </b> {{currentUserInfo.dataValues.state}}</p>
										<p><b>Country: </b> {{currentUserInfo.dataValues.country}}</p>
									</div>

								</div>
								<div class="col-lg-3"></div>
								<br><br>
							</div>
							<div class="col-lg-12 center-block">

								<h1 style="color:#f7b733" class="text-center">Services You Offer</h1>
								
								{{#each currentUserInfo.userServices}}
								<div class="col-lg-3"></div>
								<div class="col-lg-6 text-center"><br>
									<b>Service Description:</b>  {{this.description}}
									<br>
									<b>Discount Offer:</b> {{this.discount}}
								</div>
								<div class="col-lg-3"></div>
								{{/each}}
								

								<br><br>
								<form action="/delete?_method=DELETE" method="POST">
									<button type="submit" class="btn btn-lg btn-danger" id="deleteButton">DELETE ACCOUNT</button>
								</form>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</div>