<h1>Profile Information</h1>

<p><b>Username: </b> {{currentUserInfo.dataValues.userName}}</p>
<p><b>First Name: </b> {{currentUserInfo.dataValues.firstName}}</p>
<p><b>Address Line 1: </b> {{currentUserInfo.dataValues.address_1}}</p>
<p><b>Address Line 2: </b> {{currentUserInfo.dataValues.address_2}}</p>
<p><b>City: </b> {{currentUserInfo.dataValues.city}}</p>
<p><b>State: </b> {{currentUserInfo.dataValues.state}}</p>
<p><b>Zip Code: </b> {{currentUserInfo.dataValues.zipCode}}</p>
<p><b>Country: </b> {{currentUserInfo.dataValues.country}}</p>
<p><b>Phone: </b> {{currentUserInfo.dataValues.phone}}</p>
<p><b>Email: </b> {{currentUserInfo.dataValues.email}}</p>

<br><br>

<h1>Your Services</h1>
<ol>
{{#each currentUserInfo.userServices}}
<li><br>
<b>Service Description:</b>  {{this.description}}
<br>
<b>Discount Offer:</b> {{this.discount}}
</li>
{{/each}}
</ol>

<br><br>
<form action="/delete?_method=DELETE" method="POST">
	<button type="submit" class="btn btn-lg btn-danger" id="deleteButton">DELETE ACCOUNT</button>
</form>