 <div class="container">
   <div class="row">
      <br>
      <div class="text-center"><h1 style="color: #f7b733" >{{serviceName}}</h1></div>
        
   </div>
</div>
<br>
<br>
 <div class="container">
   <div class="row">
    {{#each neighborFound}}
       <div class="container">
            <div class="row">
                 <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="column">
                        <div class="panel panel-default" >
                          <div class="panel-heading" style="color: black; font-weight: bold;">{{this.firstName}}</div>
                              <div class="panel-body" style="padding-bottom: 0px; text-align: center; ">
                                  <!-- <BR><img src="img/logo.png" style="float:right; margin-right: 25px;"> -->
                                  <p><b>Service Description</b><br>{{this.description}}</p>
                                  {{#if this.discount}}  
                                  <p><b>Discount Offer  </b><br> YES</p>
                                  {{else}}
                                   <p><b>Discount Offer:  </b><br>NO</p>
                                  {{/if}}
                                  <hr>
                                 <div class="row">
                                          
                                        <div class="col-lg-4">
                                        <form action="/like" method="POST" style="margin-bottom: 0px; margin-top: 10px;">
                                        <input type="hidden" name="descriptionId" value="{{this.descriptionId}}">
                                        <button style="border: none; background-color: white;"><img style="width: 25%; height: 25%; display: block; margin:auto;" src="img/thumbUp.jpg"></button>
                                         <p style="text-align: center"><b>Likes: </b> {{this.likeCount}}</p>
                                        </form> 
                                        </div>
                                       
                                         
                                        <div class="col-lg-4">
                                        <form action="/dislikePolicy" method="POST" style="margin-bottom: 0px; margin-top: 10px;">
                                        <input type="hidden" name="serviceProviderEmail" value="{{this.email}}">
                                        <input type="hidden" name="descriptionId" value="{{this.descriptionId}}">
                                        <button style="border: none; background-color: white;"><img style="width: 25%; height: 25%; display: block; margin:auto;" src="img/thumbDown.jpg"></button>
                                       
                                        <p style="text-align: center"><b>Dislikes: </b> {{this.disLikeCount}}</p>
                                        </form>
                                        
                                      </div>

                                      <div class="col-lg-4">
                                        <form action="/leaveMessage" method="POST" style="margin-bottom: 0px; margin-top: 10px;">
                                        <input type="hidden" name="receiverId" value="{{this.userId}}">
                                        <input type="hidden" name="receiverEmail" value="{{this.email}}">
                                        <button style="border: none; background-color: white;"><img style="width: 25%; height: 25%; display: block; margin:auto;" src="img/mail.jpg"></button>
                                        <p style="text-align: center"><b>Contact Service Provider</b></p>
                                        </form>
                                         
                                        </div>
                                </div>       
                               </div>
                       
                        </div>
                      </div>

                   
            </div>
            <div class="col-lg-1"></div>
        </div>
      </div>
        {{/each}}
</div>
</div>



<!-- 


        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center enter_section">
                    <form action = "/leaveMessage" >
                        <input type ="hidden" name="receiverId" value="{{this.userId}}">
                        <div style="width:100%; height:100%">
                           <button type="button">Leave Message</button>
                        </div>   
                      </form>

                   </div>
               </div>
           </div> -->